@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --blue:#002265;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', Arial, sans-serif;
    scroll-behavior: smooth;
}

.main {
    width: 1168px;
}

/* Navigation bar begin */
.header{
    height: 84px;
    position: fixed;
    top: 35px;
    left: 134px;
    right: 134px;
    z-index: 1;
    display: inline-block;
}

.header-nav{
    margin-top: 22px;
}

.logo{
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.205em;
    color: var(--blue);
    margin: 42px 10px;
}
.logo .and{
    font-weight: 300;
    color: #14279B;
}

.nav{
    list-style: none;
    float: right;
}

.nav li{
    display: inline-block;
}

.nav #btn-contact a{
    background: #608AF5;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.nav li a {
    text-decoration: none;
    line-height: 46.4px;
    color: #212121;
    padding: 0 22px;
    display: inline-block;
}

/* Content begin */
.content{
    height: 468px;
    margin-top: 160px;
    left: 134px;
    right: 134px;
    position: absolute;
    display: inline-block;
}

.content h3{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.005em;
    color: var(--blue)
}

.content h2{
    height: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.005em;
    color: var(--blue)
}

.content p{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: 0.015em;
    color: #082032;
}

.content-me {
    width: 600px;
    height: 358px;
}

.content-me img{
    width: 500px;
    height: 468px;
    top: 160px;
    left: 796px;
    position: fixed;
}
